
<!DOCTYPE html>
<html>
	<head>
		<title>Egg Details</title>
		<link rel="stylesheet" href="../static/barcss.css">
	</head>

<div class = "container">
<img src="/static/chickens.jpg" height="900" width="1250">
	<div class = "text-block">
		<title>Egg Scanner</title>

		<body>
		<p> Owner: {{owner}}</p>
		<p>Product ID:  {{id}}</p>
        <p>Item: {{item}}</p>
        <p>Source Location: {{source_location}}</p>
		<p>Date Shipped: {{date_shipped}}</p>
		<p>Date Produced: {{date_produced}}</p>
		<p>Quantity: {{quantity}}</p>
		<p>Condition: {{condition}}</p>
		<p>Sold: {{sold}}</p>

    <ul class="Product Scanner">
		<a href="/">Back to Barcode Scanner</a>
    </ul>
		</body>
	</div>
</html>
