<!DOCTYPE html>
<html>
	<head>
		<title>Egg Scanner</title>
		<link rel="stylesheet" type="text/css" href="static/barscss.css">
	</head>

<div class = "container">
<img src="/static/chickens.jpg" height="900" width="1250">
	<div class = "text-block">
		<title>Egg Scanner</title>

		<body>
			<h1 class="logo">Smart Chain Product Search</h1>
                <form action="/barcode" method="POST">
					Barcode: <input type="text" name="barcode"> <br />
					<input type="submit" name="form" value="Submit"/>
				</form>

		</body>
	</div>
</html>
